<!DOCTYPE html>
<html>
<head>
  <title>Campusfify Chat</title>
  <link rel="stylesheet" href="/css/chat.css">
</head>
<body class="home-body">
  <div class="home-container">
    <h1>Welcome to Campusfify Chat</h1>
    <div class="home-buttons">
      <a href="/login" class="btn">Login</a>
      <a href="/chat" class="btn">Go to Chat</a>
    </div>
  </div>
</body>
</html>